body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 860px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    color:#72c166;
}

ul {
    list-style-type: none;
}

li {
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hupsut, .luonto, .eläimet, .tunteita, .jannitys, .kaytavilla, .harrastukset, .leikkia, .runoja, .ekatoka {
    padding-left: 20px;
}

h3 {
    border-top: 3px dotted #19b7e7;
    font-size: 1.3em;
    color: #72c166;
}

.otsikko {
    border-top: 3px dotted #19b7e7;
    font-size: 1.3em;
    color: #72c166;
    padding-top: 10px;
    margin: 0 20px;
}

.otsikko1_2 {
    border-top: 3px dotted #19b7e7;
    font-size: 1.3em;
    color: #ff731a;
    padding-top: 10px;
    margin: 0 20px;
}

.otsikko3_4 {
    border-top: 3px dotted purple;
    font-size: 1.3em;
    color: purple;
    padding-top: 10px;
    margin: 0 20px;
}

.alaotsikko {
    font-size: 1.25em;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 20px;
}

.nimi {
    font-weight: bold;
}

.footer {
    position: relative;
}

.footer img {
    float: right;
}

.ala_otsikko {
    max-width: 860px;
}

.taso {
    position: relative;
    top: 50px;
}

.nimi2 {
    position: relative;
    bottom: 9px;
    font-weight: bold;
}

.nimi3 {
    position: relative;
    bottom: 9px;
}

.listat {
    position: relative;
    bottom: 9px;
    margin-left: 37px;
}

.pitkat {
    padding-left: 37px;
    
}