body {
    background: #ff0097 !important;
}

.img {
    opacity: 0.3;
    display: inline !important;
}

.btn-lg {
    background: #ff0097 !important;
    margin-top: 20px;
}

#circle, #circle2, #circle3 {
    transition: all .2s ease-in-out;
    margin: 10px auto; 
    width: 100px;
    height: 100px;
    background: #ff0097;
    border-radius: 50%;
    border: 5px solid #fff;
}

#circle:hover, #circle2:hover, #circle3:hover {
    transform: scale(1.1);
}

.text {
    display: block !important; 
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding-top: 28px;
}

a {
    text-decoration: none;
    color: #fff !important;
}

a:visited {
    text-decoration: none;
    color: #fff !important;
}
a:hover {
    text-decoration: none !important;
    color: #fff !important;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}



/*Small devices (landscape phones, 576px and up) 
@media (max-width: 576px) { 
    .btn-block {
        display: block !important;
    }
} */