body {
    margin: 0 !important;
}

.outercontainer { 
      position: relative;
      margin:auto;
      width: 100%;
    }

  .outercontainer:after {
      content: "";
      display: block;
      padding-bottom: 100%;
  }
  .content {
      position: absolute;
      width: 100%;
      height: 100%;    
      font-size: 2em;
   }